html {
    background-color: rgb(31, 31, 31);
}
#gameArea {
    width: 1000px;
    height: 600px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: black;
    position: absolute;
    left: 21%;
    top: 10%;
    
} 
#gameOverScreen {
    background-color: purple;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0%;
}